{% extends 'base.html' %}
{% block contactactive %}active{% endblock contactactive %}
{% block css %}
 .container{
   min-height:75.5vh;
 }
{% endblock css %}
{% block body %}
<h1 class="text-center">Contact Us</h1>
<div class="container">
    <form action="/contact/" method="POST">
      {% csrf_token %}
        <div class="form-group">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" placeholder="Enter your Name" name="name" required>
          </div>
        <div class="form-group">
          <label class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" placeholder="e.g: 9999999999" name="phone" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label">Subje ct</label>
          <input type="text" class="form-control" name="subject" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label">Your Message</label>
          <textarea class="form-control" rows="3" name="desc" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Send</button>
      </form>
</div>
{% endblock body %}